.ustom-btn {
    color: white; /* Set text color to white */
    background-color: black !important; /* Set background color to black */
    border-color: rgb(216, 38, 38) !important; /* Set border color to black */
}